<div class="about-container">
    <h1><i class="fas fa-user"></i> About Me</h1>
  
    <div class="about-content">
      <img src="assets/about.jpeg" class="profile-photo" alt="Profile Photo" />
      <div class="about-text">
        <p>Software Developer with 4 years of experience in full-stack development, proficient in Java, Spring Boot, 
            Microservices, and both front-end and back-end technologies. Skilled in JavaScript, HTML/CSS, AWS, 
            Azure, and database management (MySQL, Postgres). Expertise in CI/CD pipelines using Jenkins and 
            Docker. Proven ability to build scalable applications and optimize microservices performance. 
            Passionate about driving innovation and contributing to high-performing teams to enhance software 
            quality and user experience.</p>
      </div>
    </div>
    
    <h2><i class="fas fa-book"></i> Education</h2>
  
    <div class="education-section">
      <div class="education-item">
        <i class="fas fa-graduation-cap"></i>
        <div class="education-details">
          <h3>Master's in Computer Science</h3>
          <p><i class="fa-solid fa-location-dot" ></i> Lamar University</p>
          <p><strong>GPA:</strong> 3.91/4.0</p>
          <p><strong>Years:</strong> May 2023 - Dec-2024</p>
        </div>
      </div>
  
      <div class="education-item">
        <i class="fas fa-school"></i>
        <div class="education-details">
          <h3>Bachelor's in Electronics</h3>
          <p><i class="fa-solid fa-location-dot"></i> K.L.University</p>
          <p><strong>CGPA:</strong> 8.97/10</p>
          <p><strong>Years: </strong> 2016 to 2020</p>
        </div>
      </div>
  
      <div class="education-item">
        <i class="fas fa-chalkboard-teacher"></i>
        <div class="education-details">
          <h3>Intermediate</h3>
          <p><i class="fa-solid fa-location-dot"></i> MPC in SASI</p>
          <p><strong>Percentage:</strong> 96.3%</p>
          <p><strong>Years: </strong>2014 - 2016</p>
        </div>
      </div>
    </div>
  
    <h2><i class="fas fa-briefcase"></i> Experience</h2>
  
    <div class="experience-section">
      <div class="experience-item">
        <img src="assets/tcs.png" alt="tcs" />
        <div class="experience-details">
          <h3>Java Developer at TCS</h3>
          <p>Worked from June 2022 to May 2023  <br>Contributed to the development of Tata Pay, <br>the payment gateway for Tata Neu, by integrating multi-tender<br> 
            payment solutions. Implemented critical Microservices with<br> threading to optimize transaction 
            performance.</p>
          <a href="https://www.linkedin.com/in/venkat-kumar-venna-7a0524161/" target="_blank" class="linkedin-button">
            <i class="fab fa-linkedin"></i> TCS
          </a>
        </div>
      </div>
  
      <div class="experience-item">
        <img src="assets/cts.jpg" alt="codsoft" />
        <div class="experience-details">
          <h3>Full Stack Developer<br> at Cognizant</h3>
          <p>Worked from Jul-2020 to Jun-2022<br> Developed and maintained the 'My Business' platform for<br> wireless business customers, 
            enabling them to 
            manage devices, <br>upgrade services, and add new lines.<br> Utilized Java 8, Spring Boot, Microservices,<br> and 
            Angular 8 to improve user experience<br> and optimize platform performance.
            </p>
            <a href="https://www.linkedin.com/in/venkat-kumar-venna-7a0524161/" target="_blank" class="linkedin-button">
                <i class="fab fa-linkedin"></i> CTS
          </a>
          
        </div>
      </div>

      <div class="experience-item">
        <img src="assets/cts.jpg" alt="codsoft" />
        <div class="experience-details">
          <h3>Intern<br> at Cognizant</h3>
          <p>Worked from Jul-2020 to Jun-2022<br> 
            In this internship, I gained practical experience<br> with Java enterprise applications,<br> focusing on JSP and Servlets, <br>developing dynamic web pages, <br>
            managing server-side processes,<br> and handling HTTP requests to build efficient web solutions.
            </p>
            <a href="https://www.linkedin.com/in/venkat-kumar-venna-7a0524161/" target="_blank" class="linkedin-button">
                <i class="fab fa-linkedin"></i> CTS
          </a>
          
        </div>
      </div>

      <div class="experience-item">
        <img src="assets/scr.jpg" alt="codsoft" style = "max-width: 500%; height: 5rem; width: 5rem;" />
        <div class="experience-details">
          <h3>Intern<br> at SCR</h3>
          <p>Worked from Jul-2020 to Jun-2022<br> 
            In this internship, I gained practical experience with Java<br> enterprise applications, focusing on JSP and Servlets, <br>developing dynamic web pages,
            managing server-side processes,<br> and handling HTTP requests to build efficient web solutions.
            </p>
            <a href="https://www.linkedin.com/in/venkat-kumar-venna-7a0524161/" target="_blank" class="linkedin-button">
                <i class="fab fa-linkedin"></i> SCR
          </a>
          
        </div>
      </div>
  
      
    </div>
  </div>