<div class="projects-section">
    <h1><i class="fa-solid fa-file-contract"></i>
  
      My Projects</h1>
  
    <div class="projects-container">
  
      <!-- Project 1 -->
      <div class="project-card">
        <h3><i class="fas fa-car"></i> Uber like Backend</h3>
        <div class="project-image-container">
          <img src="assets/uber.png" alt="uber" class="project-image">
        </div>
        <div class="button-group">
          <a href="https://github.com/vennavenkat/uberapplication" target="_blank" class="btn btn-github">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://github.com/vennavenkat/uberapplication" target="_blank" class="btn btn-live">
            <i class="fas fa-globe"></i>Live
          </a>
        </div>
        <p>It's a web application using java springboot designed and implemented at high level with more features added spring security for authentication , it has also has features like request ride, cancel ride and end ride implemented from both point of views such as rider and driver side</p>
      </div>
  
      
  
      <!-- Project 3 -->
      <div class="project-card2">
        <h3><i class="fas fa-cloud-sun"></i> Weather Web App</h3>
        <div class="project-image-container">
          <img src="assets/weather.jpg" alt="Weather Web App" class="project-image">
        </div>
        <div class="button-group">
          <a href="https://github.com/vennavenkat/weather-app/tree/main" target="_blank" class="btn btn-github">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://weatherservice-rzny.onrender.com/" target="_blank" class="btn btn-live">
            <i class="fas fa-globe"></i>Live
          </a>
        </div>
        <p>A web application to display real-time weather data using public APIs. Developed using Html, Css and JavaScript.</p>
      </div>
  
      <!-- Project 4 -->
      <div class="project-card">
        <h3><i class="fas fa-list-alt"></i> Task Manager</h3>
        <div class="project-image-container">
          <img src="assets/task.png" alt="To-Do List Web App" class="project-image">
        </div>
        <div class="button-group">
          <a href="https://github.com/vennavenkat/task/tree/main" target="_blank" class="btn btn-github">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://tas-manager.onrender.com/" target="_blank" class="btn btn-live">
            <i class="fas fa-globe"></i>Live
          </a>
        </div>
        <p>A simple application to manage tasks effectively, allowing users to create, edit, and delete tasks. Developed using Html, Css and JavaScript.</p>
      </div>
  
      
  
    </div>
  </div>