<div id="skills">
    <h1><i class="fas fa-clipboard-check"></i>
      Skills</h1>
  
    <!-- Frontend Skills -->
    <div class="skill-category">
      <h3><i class="fas fa-laptop-code"></i>
        Frontend Skills</h3>
      <div class="skill-container">
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/html-logo.png" alt="HTML" />
            <h2>HTML</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-html5"></i>
            <p>Expert in building structured websites.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/css.png" alt="CSS" />
            <h2>CSS</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-css3-alt"></i>
            <p>Proficient in styling and layout.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/javascript.png" alt="JavaScript" />
            <h2>JavaScript</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-js-square"></i>
            <p>Skilled in adding interactivity to websites.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/bootstrap.png" alt="Bootstrap" />
            <h2>Bootstrap</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-bootstrap"></i>
            <p>Experienced in responsive design with Bootstrap.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/sass.png" alt="Sass" />
            <h2>Sass</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-sass"></i>
            <p>Familiar with Sass for advanced styling and maintainable CSS code.</p>
          </div>
        </div>      
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/ts.webp" alt="TypeScript" />
            <h2>TypeScript</h2>
          </div>
          <div class="skill-back">
            <img src="assets/tsicon.png" alt="ts" style="width: 40px; height: auto;" />
            <p>Knowledgeable in TypeScript for better coding.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/angular.png" alt="Angular" />
            <h2>Angular</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-angular"></i>
            <p>Proficient in building applications with Angular.</p>
          </div>
        </div>
      </div>
    </div>
  
    <h3><i class="fas fa-file-code"></i>
      Backend Skills</h3>
    <div class="skill-container">
      <div class="skill-card">
        <div class="skill-front">
          <img src="assets/java.png" alt="Java" />
          <h2>Java</h2>
        </div>
        <div class="skill-back">
          <i class="fab fa-java"></i>
          <p>Proficient in backend development with Java.</p>
        </div>
      </div>
      
      <div class="skill-card">
        <div class="skill-front">
          <img src="assets/spring.png" alt="Spring Boot" />
          <h2>Spring Boot</h2>
        </div>
        <div class="skill-back">
          <img src="assets/springboot.png" alt="spring" style="width: 40px; height: auto;" />
          <p>Expert in developing RESTful APIs with Spring Boot.</p>
        </div>
      </div>

      <div class="skill-card">
        <div class="skill-front">
          <img src="assets/microservice.png" alt="Spring Boot" />
          <h2>MicroServices</h2>
        </div>
        <div class="skill-back">
          <img src="assets/microservice.png" alt="spring" style="width: 40px; height: auto;" />
          <p>Expert in developing RESTful APIs with MicroServices.</p>
        </div>
      </div>
      <div class="skill-card">
        <div class="skill-front">
          <img src="assets/mysql.png" alt="MySQL" />
          <h2>MySQL</h2>
        </div>
        <div class="skill-back">
          <i class="fas fa-database"></i>
          <p>Knowledgeable in database management with MySQL.</p>
        </div>
      </div>
      <div class="skill-card">
        <div class="skill-front">
          <img src="assets/sqlite.png" alt="SQLite" />
          <h2>SQLite</h2>
        </div>
        <div class="skill-back">
          <i class="fas fa-database"></i>
          <p>Skilled in lightweight database management using SQLite.</p>
        </div>
      </div>
      <div class="skill-card">
        <div class="skill-front">
          <img src="assets/postgres.png" alt="Postgres" />
          <h2>Postgres</h2>
        </div>
        <div class="skill-back">
          <i class="fa fa-database"></i>
          <p>Skilled in database management and QGIS using Postgres.</p>
        </div>
      </div>
    </div>
  
    <!-- Tools & Version Control -->
    <div class="skill-category">
      <h3><i class="fas fa-code-branch"></i>
  
        Tools & Technologies</h3>
      <div class="skill-container">
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/postman.png" alt="Postman" />
            <h2>Postman</h2>
          </div>
          <div class="skill-back">
            <i class="fas fa-paper-plane"></i>
            <p>Familiar with API testing using Postman.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/git.png" alt="Git" />
            <h2>Git</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-git-alt"></i>
            <p>Proficient in version control with Git.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/github.png" alt="GitHub" />
            <h2>GitHub</h2>
          </div>
          <div class="skill-back">
            <i class="fab fa-github"></i>
            <p>Experienced in collaboration through GitHub.</p>
          </div>
        </div>
        <div class="skill-container">
            <div class="skill-card">
              <div class="skill-front">
                <img src="assets/azure.png" alt="Azure" />
                <h2>Azure</h2>
              </div>
              <div class="skill-back">
                <i class="fas fa-cloud"></i>
                <p>Good Experience in Azure cloud platform.</p>
              </div>
            </div>
      </div>
      <div class="skill-container">
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/docker.png" alt="Docker" />
            <h2>Docker</h2>
          </div>
          <div class="skill-back">
            <i class="fa-brands fa-docker"></i>
            <p>Gained knowledge on Docker platform.</p>
          </div>
        </div>
  </div>
    </div>
  
    <div class="skill-category">
      <h3><i class="fas fa-lightbulb"></i>
        Other Skills</h3>
      <div class="skill-container">
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/prompt.png" alt="Prompt Engineering" />
            <h2>Prompt</h2>
          </div>
          <div class="skill-back">
            <i class="fas fa-keyboard"></i>
            <p>Skilled in prompt engineering for AI applications.</p>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/openai.png" alt="OpenAI" />
            <h2>OpenAI</h2>
          </div>
          <div class="skill-back">
            <i class="fas fa-robot"></i>
            <p>Proficient in using OpenAI tools like ChatGPT to develop AI-driven applications.</p>
          </div>
        </div>      
        <div class="skill-card">
          <div class="skill-front">
            <img src="assets/communication.png" alt="Communication Skills" />
            <h2>Communication Skills</h2>
          </div>
          <div class="skill-back">
            <i class="fas fa-comments"></i>
            <p>Strong communication skills for effective teamwork.</p>
          </div>
        </div>
      </div>
    </div>
  </div>