<div class="certficates-section">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <h1><i class="fa-solid fa-certificate"></i>
  
      My Certifications</h1>
  
    <div class="certficates-container">
  
      <!-- certificate  1 -->
      <div class="certficate-card">
        <h3><i class="fa-brands fa-microsoft"></i> Azure Fundamentals</h3>
        <div class="certficate-image-container">
          <img src="assets/az-900.jpg" alt="uber" class="certficate-image">
        </div>
        <div class="button-group">
          <a href="https://www.credly.com/badges/7159538c-7bc6-40ec-b117-5255d9b3a5ca/linked_in_profile" target="_blank" class="btn btn-live">
            <i class="fa-brands fa-cloudversify"></i>Verify
          </a>
        </div>
      </div>

      <div class="certficate-card">
        <h3><i class="fa-brands fa-microsoft"></i> AI Fundamentals</h3>
        <div class="certficate-image-container">
          <img src="assets/ai-900.jpg" alt="uber" class="certficate-image">
        </div>
        <div class="button-group">
          <a href="https://www.credly.com/badges/60de9e83-2f56-47ed-af1e-71a48aed6cd1/linked_in_profile" target="_blank" class="btn btn-live">
            <i class="fa-brands fa-cloudversify"></i>Verify
          </a>
        </div>
      </div>

      <div class="certficate-card">
        <h3><i class="fa-brands fa-microsoft"></i> Database Fundamentals</h3>
        <div class="certficate-image-container">
          <img src="assets/dp-900.jpg" alt="uber" class="certficate-image">
        </div>
        <div class="button-group">
          <a href="https://www.credly.com/badges/dc16ead3-a12d-4f34-915f-f12c63e25d42/linked_in_profile" target="_blank" class="btn btn-live">
            <i class="fa-brands fa-cloudversify"></i>Verify
          </a>
        </div>
      </div>

      <div class="certficate-card">
        <h3><i class="fa-brands fa-microsoft"></i> Azure Administrator Associate</h3>
        <div class="certficate-image-container">
          <img src="assets/az-104.jpg" alt="uber" class="certficate-image">
        </div>
        <div class="button-group">
          <a href="https://learn.microsoft.com/en-in/users/vennavenkatkumar-5688/credentials/9df66b99a0cf07d7" target="_blank" class="btn btn-live">
            <i class="fa-brands fa-cloudversify"></i>Verify
          </a>
        </div>
      </div>

      <div class="certficate-card">
        <h3><i class="fa-brands fa-microsoft"></i> Database Administrator Associate</h3>
        <div class="certficate-image-container">
          <img src="assets/dp-300.jpg" alt="uber" class="certficate-image">
        </div>
        <div class="button-group">
          <a href="https://learn.microsoft.com/en-in/users/vennavenkatkumar-5688/credentials/260343b3eed98fe0" target="_blank" class="btn btn-live">
            <i class="fa-brands fa-cloudversify"></i>Verify
          </a>
        </div>
      </div>
  
      
      
  
    </div>
  </div>